        /*body{
            background: linear-gradient(pink,grey);
        }
        
        #container{
            border: 1px solid grey;
            width: 100px;
            height: 100px;
            background-color: white;
        }
        /*
        h1,h3{
            height:50%;
            width: 50%;
            background-color: aliceblue;
            justify-content: center;
            text-align: center;
        }
        
        h1{
            justify-content: center;
            text-align: center;
        }

        /*
        #lower,#add{
            height:auto;
            width: auto;
            background-color: blue;
            font-size: medium;
            color:antiquewhite;
        }
        
        #container{
            border: 1px solid grey;
            margin:10px;
            padding: 15%;
            height: 500px;
            width: 500px;
            background-color: black;
        }
        h1{
            color:antiquewhite;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }
        #h{
            color: green;
            font-size: 100px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-ser;
            text-align: center;
        }
        */
        /*
        #container{
            border: 1px solid black;
            margin:10px;
            padding: 15%;
            height: 500px;
            width: 500px;
            background-color: grey;
        }
        button{
            justify-content: center;
            text-align: center;
            border: 1px dotted black;
            padding: 2%;
            cursor:pointer;
            outline: none;

        }
        p{
            font-weight: 15%;
            font-size: x-large;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        #seconds, #tens{
            font-size:2em;
          }
          */

        .container{
            background-color: rga(233,200,155);
        }

        .circle{
            height: 200px;
            width:200px;
            border-radius: 100px;
            border: 1px dashed blue; 
            color: darkgoldenrod;
            background-color: aqua;
        }

        .square{
            height: 200px;
            width:200px;
            border-radius: 10px;
            border: 1px dashed blue; 
            color: darkblue;
            background-color: lightcoral;
        }

        .rect{
            height: 200px;
            width:500px;
            border-radius: 10px;
            border: 1px dashed blue; 
            color: darkgoldenrod;
            background-color: chocolate;
        }

        .tri{
            height: 0;
            width:0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid gray;
           /* border: 1px dashed blue; 
            margin: 2rem;
            color: darkgoldenrod;
            background-color: aqua;
        */
        }